*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4d4545;
      margin: 0;
      background: #0d0d0d;
      overflow: hidden;
      cursor: none;
}
.form{
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 90%;
    max-width: 350px;
    text-align: center;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 6px;
}
button{
    padding: 10px 15px;
    background-color: royalblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
}
button:hover {
    background-color: darkblue;
}
.profile-card{
    display: none;
    width: 90%;
    max-width: 350px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px gray;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    transform: translateY(-20px);
    opacity: 0;
    transition: 0.3s;
}
@media (max-width: 480px) {
    .form, .profile-card {
        width: 100%;
    }
}
.fireball {
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #ff5722, #ff9800);
    border-radius: 50%;
    pointer-events: none;
    animation: burn 0.5s ease-out forwards;
    box-shadow: 0 0 15px #ff5722;
  }

  @keyframes burn {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }